@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");

body {
  padding: 50px;
  background-color: rgb(243, 245, 121);
  font-family: "Shadows Into Light", cursive;
}

.App {
  text-align: center;
}
.App h2 {
  font-size: 40px;
  color: red;
  margin: 0;
}

.todolistmain:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../src/assets/images/now.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.todolistmain .header input {
  font-family: "Shadows Into Light", cursive;
  width: 400px;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  width: 300px;
}

.todolistmain .header input:focus {
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.todolistmain .header button {
  font-family: "Shadows Into Light", cursive;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  margin-right: 0px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
}

.todolistmain .header button:hover {
  border: 2px solid #666666;
  color: #666666;
  cursor: pointer;
}

.todolistmain .theList li {
  color: #333;
  padding: 15px;
  margin-bottom: 15px;
  list-style: none;
}

ul.theList {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.theList li {
  width: 100%;
  max-width: 900px;
  color: #000000;
  text-align: left;
  font-size: 30px;
  padding: 7px;
  margin-bottom: 6px;
}

ul.theList li:hover {
  background-color: transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
  cursor: pointer;
  text-decoration: line-through;
}
